@import './assets/iconfont/iconfont.css';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.vtgl-logo-container
{
  display: none !important
}
.point-sample-label-container::before
{
      background: url('./assets/vtgl/simplelablebg.png') 0px 0px no-repeat !important;
      bottom: -40px !important;
}
.point-sample-label-container
{
  border: 1px solid #17bb9a !important;
  background: linear-gradient(0deg, #0bab8b 0%, #0bab8b 100%) !important;
 
  border-radius: 0px !important;
}

@font-face {
  font-family: "font-number";
  src: url('./assets/iconfont/BebasNeue-Bold.ttf'); /* IE9 */
  src: url('./assets/iconfont/BebasNeue-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('./assets/iconfont/BebasNeue-Bold.ttf') format('woff'),
  url('./assets/iconfont/BebasNeue-Bold.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./assets/iconfont/BebasNeue-Bold.ttf') format('svg'); /* iOS 4.1- */
}
